<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Info</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>PNR Code for the reservation</h2>
<h2 th:text="${reservation.pnrCode}"></h2>

<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th>Passport No</th>
        <th>Nationality No</th>
        <th>Tel No</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.personType} + ' ' + ${userStat.count}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.birthDate}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.passportNo}"></td>
        <td th:text="${user.nationalityNo}"></td>
        <td th:text="${user.telNo}"></td>
        <td th:text="${user.email}"></td>
    </tr>

    </tbody>
</table>

<h2>Flight Information</h2>
<table>
    <thead>
    <tr>
        <th>Plane</th>
        <th>Departure</th>
        <th>Landing</th>
        <th>Date of Departure</th>
        <th>Departure Time</th>
        <th>Class</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Flight One</td>
        <td th:text="${planeOne.departureLocation}"></td>
        <td th:text="${planeOne.landingLocation}"></td>
        <td th:text="${planeOne.dateDeparture}"></td>
        <td th:text="${planeOne.timeDeparture}"></td>
        <td th:text="${reservation.firstType}"></td>
        <td th:text="${reservation.firstPrice}"></td>
    </tr>
    <tr th:if="${reservation.flightNumberTwo} != 0">
        <td>Flight Two</td>
        <td th:text="${planeTwo.departureLocation}"></td>
        <td th:text="${planeTwo.landingLocation}"></td>
        <td th:text="${planeTwo.dateDeparture}"></td>
        <td th:text="${planeTwo.timeDeparture}"></td>
        <td th:text="${reservation.secondType}"></td>
        <td th:text="${reservation.secondPrice}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/main-page/cancel-reservation}" th:object="${reservation}" method="post">
    <input type="hidden" th:field="*{pnrCode}">
    <input type="submit" value="Cancel Reservation">
</form>
<br><br>
<form th:action="@{/main-page/reset-everything}">
    <input type="submit" value="Go to Home Page">
</form>
</body>
</html>